*.a
aclocal.m4
autom4te.cache
compile
config.*
configure
*.db
depcomp
.deps
*.gir
gtk-doc.make
INSTALL
install-sh
*.la
.libs
libtool
*.lo
ltmain.sh
Makefile
Makefile.in
missing
*.o
*.pc
stamp-h1
*.swp
test-gom-adapter
test-gom-repository
test-gom-find
*.typelib
